header {
    padding: .4em;
    background: linear-gradient(#b69cff, #6f52be);
}

h1, h2, h3 {
    display: inline-block;
    font-weight: bold;
    padding: 1rem .4rem;
    margin: 0;
}

a {
    display: block;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: .3em;
}

.nav-link {
    position: relative;
    z-index: 1;
    padding: .6rem 1rem;
    margin: 0 .6rem;
}

.nav-link:hover,  
.nav-link:focus {
    cursor: pointer;
}

.nav-link.active {
    border-bottom: solid .2em white;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: .2rem;
    bottom: 0;
    left: 0;
    background-color: #1a97d1;
    
    transition: .3s ease-out;
}

.nav-link:hover:after {
    width: 100%;
}