.nav-link {
    position: relative;
    z-index: 1;
}

.nav-link:hover,  
.nav-link:focus {
    cursor: pointer;
}

.nav-link.active {
    border-bottom: solid .2em white;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: .2rem;
    bottom: 0;
    left: 0;
    background-color: #1a97d1;
    
    transition: .3s ease-out;
}

.nav-link:hover:after {
    width: 100%;
}